body{
font-family: Arial;
margin:0;
background:#f4f4f4;
}

header{
background:#333;
color:white;
padding:20px;
text-align:center;
}

nav{
background:#555;
padding:10px;
text-align:center;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
font-weight:bold;
}

section{
padding:20px;
text-align:center;
}

img{
margin:40px;
border-radius:20px;
}

button{
background:orange;
color:white;
padding:10px 20px;
border:none;
border-radius:5px;
cursor:pointer;
}

footer{
background:#333;
color:white;
text-align:center;
padding:10px;
margin-top:20px;
}
